.home {
  width: 80%;
  height: 85%;
  border-radius: 10px;
  padding: 20px;
  background-color: #ffffff;
  &__header {
    display: flex;
    button {
      margin-left: 10px;
      opacity: 0.8;
    }
  }
  .ant-table-wrapper {
    margin-top: 10px;
  }
}
